#home-page-container

	.nav-box
		- if current_user
			= link_to "Sign Out", destroy_user_session_path, method: :delete
		- else
			= link_to 'SIGN UP', new_user_registration_path
			|
			= link_to 'LOGIN', new_user_session_path
		| VENDORS


	.search-box
		= form_tag search_results_path, method: :get do
			= select_tag(:procedure, options_for_select(@procedures.collect {|p| [ p.name, p.id ] }.insert(0, ["Select Procedure" , ""]), selected: params[:procedure] ) )
			%span.in in
			= text_field_tag :city, nil, :placeholder => "City"
			= select_tag(:order, options_for_select([["Sort By" , ""], ['Rating', 'rating'], ['Price', 'price'], ['Popularity', 'popularity']]))
			.clearfix
			= submit_tag 'SEARCH', name: nil, class: 'search-button'
