
.row#search-content
	.col-md-4
		= image_tag 'map.png'
		%br
		%br
		.form-group
			%label Search By Name
			= text_field_tag :name, nil, :placeholder => "Doctor Name"
		.form-group
			%label{style: "font-weight: normal;"} Filter By
		.form-group
			%label Star Rating
			%br
			%input{:type => "checkbox"} 
			.stars
				= image_tag "star.png"
				= image_tag "star.png"
				= image_tag "star.png"
				= image_tag "star.png"
				= image_tag "star.png"
			%br
			%input{:type => "checkbox"} 
			.stars
				= image_tag "star.png"
				= image_tag "star.png"
				= image_tag "star.png"
				= image_tag "star.png"
			%br
			%input{:type => "checkbox"} 
			.stars
				= image_tag "star.png"
				= image_tag "star.png"
				= image_tag "star.png"
			%br
			%input{:type => "checkbox"} 
			.stars
				= image_tag "star.png"
				= image_tag "star.png"
			%br
			%input{:type => "checkbox"} 
			.stars
				= image_tag "star.png"

		.form-group
			%label Price
			%br
			%input{:type => "checkbox"} 
			>$100
			%br
			%input{:type => "checkbox"} 
			>$200
			%br
			%input{:type => "checkbox"} 
			>$300
			%br
			%input{:type => "checkbox"} 
			>$400
		.form-group
			%label Administered By
			%br
			%input{:type => "checkbox"} 
			Dermatologist
			%br
			%input{:type => "checkbox"} 
			MD
			%br
			%input{:type => "checkbox"} 
			PA
			
	.col-md-8
		#results
			.sort-box
				.sort-box-inner
					%span.pull-left{style: "margin-left: 40px;padding: 18px;"}	Sort By: 

					%ul.nav.nav-pills
						%li{ style: "#{'border-top: 5px solid #515151;' if params[:order] == 'rating'}" } 
							Rating
						%li{ style: "#{'border-top: 5px solid #515151;' if params[:order] == 'price'}" } 
							Price
						%li{ style: "#{'border-top: 5px solid #515151;' if params[:order] == 'popularity'}" } 
							Most Popular

			- if @doctors.blank?
				.result-box
					%h3{style: "text-align: center;"} No Doctor Found
			- else
				- @doctors.each do |doctor|
					.result-box
						.result-image.pull-left
							= image_tag "result-image.png"
						.result-info
							%span.doctor-name
								= doctor.name
							= rating_for doctor
							%br
							%span.map
								= image_tag "bullet.png"
								Map
							%br
							.price
								= number_to_currency(doctor.fee)
							.booking
								BOOK NOW>>



